
.cardContainer{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: black solid 2px;
  height: 400px;
  width: 250px;
  border-radius: 2rem;
  transition: all 0.2s ease; /* Para la card en general */
  gap: 15px;
}

.cardContainer.active{
  width: 500px;
}
.ImgContainer
{
  width: 250px;
}
.ImgContainer button
{
  border: black solid 2px;
  border-radius: 2rem;
  height: 30px;
}

.DesContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  max-width: 0; /* Inicialmente colapsado */
  opacity: 0; /* Totalmente invisible */
  overflow: hidden; /* Esconder contenido cuando esté colapsado */
  transition: max-height 1s ease, opacity 0.5s ease; /* Animación de transición */
  
}

.DesContainer.active {
  max-width: 400px; /* Define la altura máxima cuando esté visible */
  opacity: 1; /* Lo hacemos visible */
  transition: max-height 1s ease, opacity 0.5s ease; 
}

.DesContainer button
{
  margin: 5px;
  border-radius: 2rem;
  height: 30px;
}

.colors{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  
}

.colors button{
  border-radius:50%;
  height: 20px;
  width: 20px;
  
}

.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.nude{
  background-color: burlywood;
}
.pink{
  background-color: pink;
}
.cantidad
{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cantidad button
{
  display: flex;
  gap: 10px;
  height: 30px;
  width: 30px;
  border: solid black 2px;
  border-radius: 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}